In [1]:
import pandas as pd
import os

In [2]:
# File to Load 
school_data_to_load = os.path.join('./PyCitySchools/Resources/schools_complete.csv')
student_data_to_load =os.path.join('./PyCitySchools/Resources/students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [4]:
# Number of unique schools
schoolCount = len(school_data_complete['school_name'].unique())
schoolCount

15

In [5]:
#total students
studentCount = len(school_data_complete['Student ID'])
studentCount

39170

In [6]:
# Total Budget
totalBudget = sum(school_data_complete['budget'].unique())
totalBudget

24649428

In [7]:
# Average Math Score
avMathScore = school_data_complete['math_score'].mean()
avMathScore

78.98537145774827

In [8]:
avReadScore = school_data_complete['reading_score'].mean()
avReadScore

81.87784018381414

In [9]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(studentCount) * 100
passing_math_percentage

74.9808526933878

In [10]:
passing_read_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_read_percentage = passing_read_count / float(studentCount) * 100
passing_read_percentage

85.80546336482001

In [11]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(studentCount) * 100
overall_passing_rate

65.17232575950983

In [12]:
# Create a high-level s napshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    'Total Schools':schoolCount,
    'Total Students':studentCount,
    'Total Budget': totalBudget,
    'Average Math Score':avMathScore,
    'Average reading score': avReadScore,
    '% passing math': passing_math_percentage,
    '% passing reading': passing_read_percentage,
    '% overall passing': overall_passing_rate
}, index = [0])

# Formatting
district_summary['Total Students'] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average reading score,% passing math,% passing reading,% overall passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# Checkpoint! this is School Summary

In [30]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
per_school_counts = school_data_complete['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [31]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.groupby('school_name')['budget'].sum()

per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [16]:
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete['math_score']>=70)]
school_students_passing_math = students_passing_math.groupby('school_name').size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [20]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete['reading_score']>=70)]
school_students_passing_reading = students_passing_reading.groupby('school_name').size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [22]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [33]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    'School Type':school_types,
    'Total Students':per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score':per_school_math,
    'Average reading score': per_school_reading,
    '% passing math': school_students_passing_math,
    '% passing reading': passing_read_percentage,
    '% overall passing': overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average reading score,% passing math,% passing reading,% overall passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,85.805463,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,85.805463,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,85.805463,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,85.805463,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,85.805463,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,85.805463,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,85.805463,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,85.805463,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,85.805463,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,85.805463,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,85.805463,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,85.805463,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,85.805463,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,85.805463,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,85.805463,90.333333

# This is a Checkpoint! Highest - Lowest Schools

In [37]:
#Top
dfTrue = school_data_complete.copy()

dfTrue['PassingMR']=(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
topSchools = dfTrue.groupby(['school_name'])[['PassingMR']].mean().sort_values('PassingMR', ascending = False)*100
topSchools.head()

                     PassingMR
school_name
Cabrera High School  91.334769
Thomas High School   90.948012
Griffin High School  90.599455
Wilson High School   90.582567
Pena High School     90.540541

In [39]:
# Least
dfFalse = school_data_complete.copy()

dfFalse['PassingMR']=(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
topSchools = dfFalse.groupby(['school_name'])[['PassingMR']].mean().sort_values('PassingMR')*100
topSchools.head()

                       PassingMR
school_name
Rodriguez High School  52.988247
Figueroa High School   53.204476
Huang High School      53.513884
Hernandez High School  53.527508
Johnson High School    53.539172

Math and reading by school and grade

In [45]:
nth = school_data_complete[(school_data_complete['grade'] == "9th")]
tth = school_data_complete[(school_data_complete['grade'] == "10th")]
eth = school_data_complete[(school_data_complete['grade'] == "11th")]
twth = school_data_complete[(school_data_complete['grade'] == "12th")]

nthMathScores = nth.groupby('school_name')['math_score'].mean()
tthMathScores = tth.groupby('school_name')['math_score'].mean()
ethMathScores = eth.groupby('school_name')['math_score'].mean()
twthMathScores =twth.groupby('school_name')['math_score'].mean()

mScoresGrade = pd.DataFrame({
    '9th Grade': nthMathScores,
    '10th Grade': tthMathScores,
    '11th Grade': ethMathScores,
    '12th Grade': twthMathScores
})
mScoresGrade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [47]:
nthReadingScores = nth.groupby('school_name')['reading_score'].mean()
tthReadingScores = tth.groupby('school_name')['reading_score'].mean()
ethReadingScores = eth.groupby('school_name')['reading_score'].mean()
twthReadingScores =twth.groupby('school_name')['reading_score'].mean()

rScoresGrade = pd.DataFrame({
    '9th Grade': nthReadingScores,
    '10th Grade': tthReadingScores,
    '11th Grade': ethReadingScores,
    '12th Grade': twthReadingScores
})
rScoresGrade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [65]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [66]:
per_school_summary.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average reading score',
       '% passing math', '% passing reading', '% overall passing'],
      dtype='object')

In [79]:
school_spending_df =per_school_summary.copy()
school_spending_df
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'],spending_bins, labels=labels,include_lowest=True)
# school_spending_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

KeyError: 'Spending Ranges (Per Student)'

School Size

In [80]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]